<div class="input-container">
  <div class="input-group">
    <label for="name">{{formLabels.name}}</label>
    <input id="name" placeholder="{{formPlaceholder.name}}" type="text">
  </div>

  <div class="input-group">
    <label for="password">{{formLabels.password}}</label>
    <input (input)="checkPasswordStrength($event)" [(ngModel)]="password"
           id="password" placeholder="{{formPlaceholder.password}}" type="password">

    <div>
      <div [ngClass]="{ 'red': isWeakPassword, 'yellow': isMediumPassword, 'green': isStrongPassword }">Слабий</div>
      <div [ngClass]="{ 'red': isWeakPassword, 'yellow': isMediumPassword, 'green': isStrongPassword }">Середній</div>
      <div [ngClass]="{ 'red': isWeakPassword, 'green': isStrongPassword }">Надійний</div>
    </div>
  </div>
</div>
